@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 15%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 15%;

    --primary: 240 55% 41%;
    --primary-foreground: 0 0% 100%;
    
    --primary-dark: 244 54% 34%;

    --secondary: 283 25% 32%;
    --secondary-foreground: 0 0% 100%;
    
    --secondary-light: 322 30% 73%;

    --muted: 240 10% 96%;
    --muted-foreground: 240 5% 50%;

    --accent: 344 87% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 344 87% 63%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 10% 90%;
    --input: 240 10% 90%;
    --ring: 240 55% 41%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;

    --card: 240 10% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 240 55% 50%;
    --primary-foreground: 0 0% 100%;
    
    --primary-dark: 244 54% 40%;

    --secondary: 283 25% 40%;
    --secondary-foreground: 0 0% 100%;
    
    --secondary-light: 322 30% 73%;

    --muted: 240 10% 18%;
    --muted-foreground: 240 5% 60%;

    --accent: 344 87% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 344 87% 63%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 240 55% 50%;
    
    --sidebar-background: 244 54% 34%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 240 55% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 244 54% 40%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 25%;
    --sidebar-ring: 240 55% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
